/*重置element-ui代码*/
html,body,.Index-box {
  width: 100%;
  height: 100%;
}

/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/*定义滚动条的轨道，内阴影及圆角*/
*::-webkit-scrollbar-track{
  border-radius: 5px;
}
/*定义滑块，内阴影及圆角*/
*::-webkit-scrollbar-thumb{
  height: 20px;
  border-radius: 5px;
}

/*头部导航*/
.el-header {
  padding: 0;
  height: 52px !important;
  font-size: 20px;
  overflow: hidden;
}

/*消息标记*/
.el-badge {
  vertical-align: baseline;
}

.el-badge__content.is-fixed {
  top: 20px;
}

/*主体内容区*/
.el-main {
  padding: 0;
}

.el-menu .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}

/*拼命加载中*/
.el-loading-mask {
  width: auto !important;
  height: auto !important;
}

/*面包屑*/
.Breadcrumb {
  width: 100%;
  display: flex;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.Breadcrumb .el-breadcrumb {
  flex: 1;
  height: 52px;
  line-height: 52px;
  display: inline-block;
  font-size: 14px;
  padding-left: 20px;
}

/*公共功能*/
.marginTop10 {
  margin-top: 10px;
}

.marginTop20 {
  margin-top: 20px;
}

.marginRight20 {
  margin-right: 20px;
}

.marBottom16 {
  margin-bottom: 16px;
}

.padding10 {
  padding: 10px;
}

.padding20 {
  padding: 20px;
}

.width200 {
  width: 200px;
}

.width240 {
  width: 240px;
}

.width800 {
  width: 800px;
}

.fs12 {
  font-size: 12px;
}

.fsBold12 {
  font-size: 12px;
  font-weight: bold;
}

/*messageBox弹出层 确认和取消按钮调换位置*/
.btn-custom-cancel {
  float: right;
  margin-left: 10px;
}

/*表单*/
.borderBottom .el-form-item {
  margin-bottom: 0;
}

.el-date-editor.el-input.width120 {
  width: 140px;
}

.el-input__inner {
  border-radius: 0;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

/*查询按钮*/
.queryBtn {
  width: 80px;
}

.el-button {
  border-radius: 2px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

.el-button.el-button--text {
  padding: 0;
}

.el-button--text + .el-button--text {
  margin-left: 0;
}


/*分页*/
.el-pagination {
  padding: 0;
}

.el-pager li {
  padding: 0 10px;
}

/*弹出层按钮右浮动*/
.el-message-box__btns .el-button {
  float: right;
  margin-left: 10px;
}

/*登录页*/
.el-carousel__container {
  height: 100%;
}

/*左侧导航*/
.box-right-search .el-input {
  width: 624px;
}

.box-right-search .el-input__inner {
  border: none;
  line-height: 40px;
  height: 40px;
  padding-left: 40px;
}

.userMaintenance-dialog .el-dialog__body {
  padding: 20px 0 0 0;
}

.marginBottom10 .el-form-item {
  margin-bottom: 10px;
}

.el-form-item {
  margin-bottom: 20px;
}

.el-form-item__content {
  font-size: 12px;
  line-height: 30px;
}

/*star*/
.star > label.el-form-item__label::before {
  content: '*';
  margin-right: 4px;
}

.el-form-item__label {
  height: 30px;
  line-height: 30px;
  font-size: 12px !important;
}

.el-date-editor .el-range__icon,
.el-date-editor .el-range__close-icon {
  line-height: 22px;
}

.el-date-editor .el-range-separator {
  width: auto;
  line-height: 22px;
}

.el-input__icon {
  line-height: 30px;
}


/*表格*/
.el-table .el-table__body div.cell,
.el-table .el-table__body div.cell span {
  white-space: nowrap;
}

.indexTableBox .el-table__header thead tr th:nth-child(1),
.indexTableBox .el-table__body tbody tr td:nth-child(1) {
  padding-left: 20px;
}

.dialogTitle {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding-left: 10px;
  font-weight: bolder;
}

/*必填项不能为空*/
.isNotNull {
  line-height: 1;
  font-size: 12px;
  margin-top: 4px;
  position: absolute;
  top: 30px;
  left: 0;
}

.paddingLeft-10 {
  padding-left: 10px;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.marginLeft40 {
  margin-left: 40px;
}

/*文本按钮禁用样式*/
.el-button.is-disabled.el-button--text,
.el-button.is-disabled.el-button--text:hover {
  border: none;
  background:none;
}

.licensenInfo-btn-box {
  padding-left: 100px;
}

.el-table__header {
  font-size: 14px !important;
}

.el-table__body {
  font-size: 12px !important;
}

/*弹出层按钮*/
.alertBtn {
  padding: 0;
  width: 80px;
  height: 34px;
  line-height: 34px;
}

/*弹出层样式*/
.el-dialog__header {
  padding: 0 0 0 20px;
  height: 40px;
  line-height: 40px;
}

.el-dialog__header .el-dialog__title {
  font-size: 14px;
}

.el-dialog__headerbtn {
  top: 0;
}

.el-dialog__headerbtn .el-dialog__close {
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
}

.el-dialog__body {
  position: absolute;
  top: 40px;
  bottom: 55px;
  left: 0;
  right: 0;
  padding: 20px;
  overflow-y:scroll;
}

.el-dialog__footer {
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.el-dialog__footer > span {
  display: inline-block;
}

.el-button.el-button--text {
  font-size: 12px;
}

.el-form--inline .el-form-item {
  margin-right: 20px;
}

.el-form-item__label {
  padding-right: 0px;
}

.el-radio__label {
  font-size: 12px;
}

/*确认提示*/
.el-message-box {
  width: 400px;
  height: 160px;
  position: relative;
  border-radius: 0;
}

.el-message-box__btns {
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.el-message-box__title {
  font-size: 16px;
}

.el-message-box__content {
  padding: 25px 15px;
}

.el-message-box__status+.el-message-box__message {
  font-size: 14px;
}

.avatar-uploader {
  width: 66px;
  height: 66px;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  border: 1px solid #dcdfe6;
}

.avatar-uploader .avatar-uploader-icon {
  width: 66px;
  height: 66px;
  line-height: 66px;
  font-size: 16px;
}

input::-webkit-input-placeholder {
  color: #252a2f;
  font-size: 12px;
  text-align: left;
}

.displayFlex {
  display: flex;
  flex: 1;
}

.displayInlineBlock {
  display: inline-block;
}

.displayFlex-flex {
  flex: 1;
}

.dataDictionary-tree.el-tree .el-tree-node__content,
.organizeMaintenance-tree.el-tree .el-tree-node__content,
.functionMenuMaintenance-tree.el-tree .el-tree-node__content {
  height: 36px;
  line-height: 36px;
}

.dataDictionary-tree.el-tree,
.organizeMaintenance-tree.el-tree,
.functionMenuMaintenance-tree.el-tree {
  padding-left: 12px;
}

.el-tree-node__label {
  font-size: 12px;
}

.el-select-dropdown__item {
  line-height: 30px;
  height: 30px;
  font-size: 12px;
}

.el-tag {
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  border-radius: 0;
}

.el-range-editor .el-range-input {
  padding-left: 10px;
  text-align: left;
}

.el-input-group__append,
.el-form-item__content .el-input-group {
  height: 30px;
  line-height: 30px;
}

.el-input-group__append button.el-button {
  width: 100%;
  height: 100%;
}

/*设备告警详情弹出层样式*/
.alarmMessageBox-dialog .el-form-item,
.alarmCurrentBox-dialog .el-form-item,
.alarmCurrentBox-chargeBy .el-form-item{
  margin-bottom: 0;
}

.borderBottomFormItem {
  padding: 20px 20px 0;
  border: 1px solid #eaedf1;
}
